#articovery br.mBr { display: none; }

#articovery.point .visual .makeyourpoint { width: 100%; max-width: 580px; margin: 0 auto; text-align: center; box-sizing: border-box; }
#articovery.point .visual .makeyourpoint img { width: 100%; }
#articovery.point .visual .makeyourpoint .pointCircles { text-align: center; margin-top: 5%; overflow: hidden; padding: 0 5%; }
#articovery.point .visual .makeyourpoint .pointCircles li { float: left; width: 25%; padding: 2%; box-sizing: border-box; }
#articovery.point .visual .makeyourpoint .pointCircles li .point_circle {  }
#articovery.point .visual .makeyourpoint .pointCircles li .txt { font-size: 1em; line-height: 1.5; color: #fff; letter-spacing: 0; margin-top: 0.7em; }

#articovery.point #top9.feature .top9_list li .cont { padding: 25px 4%; }


@media screen and (max-width: 1200px){
  #articovery.point #top9.feature .top9_list li { width: 50%; }
  #articovery.point #panels.feature .panel_list li { width: 25%; }
}

@media screen and (max-width: 1024px){
  #articovery .visual .logo { top: 3%; }
  #articovery .visual .menu { top: 3%; }

  #articovery.point #top9.feature .top9_list li .cont { white-space: nowrap; }
  #articovery.point .feature { padding: 10% 0; }
  #articovery.point .feature_head { margin-bottom: 10%; padding: 0 5%; }
  #articovery.point .feature_head .title { margin-bottom: 5%; }
  #articovery.point .feature_head .subTitle1 { margin-bottom: 2%; }
  #articovery.point .feature_text { padding: 0 5%; }
  #articovery.point .name_list { margin-bottom: 5%; padding: 0 5%; }
  #articovery.point .name_list li { margin: 1% 0; padding: 0 2%; font-size: 14px; }

  #articovery.point .footer .logo { padding: 0 10%; }
  #articovery.point .footer .logo img { max-width: 100%; }
}

@media screen and (max-width: 680px){
  #articovery { font-size: 0.8em; }
  #articovery br.mBr { display: block; }
  #articovery.point .visual .makeyourpoint { padding: 40% 0; }
  #articovery.point.list .visual { background: url(/images/articovery/visual_aritcovery_point_m.jpg) center no-repeat;
    background-size: cover; margin-bottom: -1px; }

  #articovery.point .feature > .inner { width: 94%; }

  #articovery.point #top9.feature .top9_list { margin: 0; }
  #articovery.point #top9.feature .top9_list li { width: 100%; padding: 1.5% 0; }
  #articovery.point #top9.feature .top9_list li a img { width: 100%; }
  #articovery.point #top9.feature .top9_list li a:before { background-size: cover; }
  #articovery.point #top9.feature .top9_list li.completed a:before { background-size: cover; }

  #articovery.point #panels.feature .panel_list { margin: -2%; }
  #articovery.point #panels.feature .panel_list li { width: 33.33333%; padding: 2%; }
}

@media screen and (max-width: 420px){

}

@media screen and (max-width: 360px){
  #articovery.point #panels.feature .panel_list li { width: 50%; }
}
