@media screen and (max-width: 1024px){
  #articovery.point.view .feature_head{max-width: 93.25%; margin:0 auto;}
  #articovery.point.view .feature_head .desc{text-align: left; font-size: 1.429em;}
  #articovery.point.view .feature_head .desc .allpin_wrap{right: 0;}
  #articovery.point.view #artAbout.feature > .inner{position: relative;}
  #articovery.point.view #artAbout.feature li{float: none;}
  #articovery.point.view #artAbout.feature li.desc_area{position: absolute; top: 0; right: 0; width: calc(100% - 240px); padding:0 3.632%;}
  #articovery.point.view #artAbout.feature li.artist_area{width:215px;}
  #articovery.point.view #artAbout.feature li.exhibit_area{width: 215px; margin-top: 2em;}
  #articovery.point.view #artAbout.feature li.desc_area p{font-size: 1.357em;}
  #articovery.point.view #artAbout.feature li.artist_area .artist_info p{}
  #articovery.point.view #artAbout.feature li.artist_area .artist_info p.year{font-size: 1.286em;}

  /*#articovery.point.view #artAbout.feature li.artist_area{width: 100%;}
  #articovery.point.view #artAbout.feature li.artist_area > .inner{position: relative;}
  #articovery.point.view #artAbout.feature li.artist_area .artist_pic{position: absolute; top: 0; right:0;}
  #articovery.point.view #artAbout.feature li.desc_area{width: 100%; padding:0 0 2em 0;}
  #articovery.point.view #artAbout.feature li.exhibit_area{width: 100%;}
  #articovery.point.view #artAbout.feature li.exhibit_area p{display: inline-block; padding-right: 20px;}
  #articovery.point.view #artAbout.feature li.exhibit_area p.tit_exhibit{display: block; padding-right: 0;}*/
}
@media screen and (max-width: 720px){
  #articovery .point_pop_wrap .content_wrap .review_area{width: 100%; padding:0 1px;}
  #articovery .point_pop_wrap .content_wrap .pointing_area{width: 100%; margin-top: 3em;}
  #articovery .point_pop_wrap.complete .content_wrap .review_area .review_li li{width: 33.3333%; margin-bottom: 1em;}
  #articovery.point.view #artWorks.feature.fifth .list_wrap li.n4 > div{padding-bottom: 59%;}
  #articovery.point.view #artWorks.feature.fifth .list_wrap li.n5 > div{padding-bottom: 61.6%;}
}
