/* .title1{ padding: 0; position: relative; font-size: 1.250em; }
.title1:after,.title1:before{display: block; width: 5px; height: 5px;  position: absolute; top: 0; content: ""; z-index: 10;   }
.title1:after{   left: 0; background-image: url(/oktomato/images/bg/bg_box_purple.gif);  }
.title1:before{ right: 0; background-image: url(/oktomato/images/bg/bg_box_purple.gif); background-position: 100% 0;  }
.title1 .bg{ display: block; border-radius:5px;  padding: 14px; color: #fff; font-weight: 700; position: relative; }
.title1 .bg:after,.title1 .bg:before{display: block; width: 5px; height: 5px;  position: absolute; bottom: 0; content: ""; z-index: 10;   }
.title1 .bg:after{   left: 0; background-image: url(/oktomato/images/bg/bg_box_purple.gif); background-position: 0 100%; }
.title1 .bg:before{ right: 0; background-image: url(/oktomato/images/bg/bg_box_purple.gif); background-position: 100% 100%;  }

.title1.off:after{   left: 0; background-image: url(/oktomato/images/bg/bg_box_gray.gif);  }
.title1.off:before{ right: 0; background-image: url(/oktomato/images/bg/bg_box_gray.gif); }
.title1.off .bg:after{   left: 0; background-image: url(/oktomato/images/bg/bg_box_gray.gif);}
.title1.off .bg:before{ right: 0; background-image: url(/oktomato/images/bg/bg_box_gray.gif);}

.lst_admin { padding: 0; position: relative; border:1px solid #d9d9d9;  }
.lst_admin:after,.lst_admin:before{display: block; width: 5px; height: 5px;  position: absolute; top: -1px; content: ""; z-index: 10;   }
.lst_admin:after{   left: -1px; background-image: url(/oktomato/images/bg/bg_box_gray2.gif); }
.lst_admin:before{ right: -1px; background-image: url(/oktomato/images/bg/bg_box_gray2.gif);  background-position: 100% 0;  }
.lst_admin .bg{ display: block; border-radius:5px;  color: #fff; font-weight: 700; position: relative;  }
.lst_admin .bg:after,.lst_admin .bg:before {display: block; width: 5px; height: 5px;  position: absolute; bottom: -1px; content: ""; z-index: 10;   }
.lst_admin .bg:after{   left: -1px; background-image: url(/oktomato/images/bg/bg_box_gray2.gif); background-position: 0 100%; }
.lst_admin .bg:before{ right: -1px; background-image: url(/oktomato/images/bg/bg_box_gray2.gif); background-position: 100% 100%;  } */
